@using WebAppCoreControlInterno.Models.ViewModels
@model LectorViewModel

@{ViewBag.Title = "Eliminar Lector";}

@await Html.PartialAsync("_NavbarAdministracion")

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6">
            <div class="card shadow">
                @if (ViewBag.Errors == false)
                {
                    <div class="card-body">
                        <h1 class="card-title">Eliminar</h1>
                        <h3>Seguro desea eliminar este Lector?</h3>
                        <div>
                            <hr />
                            <dl class="row">
                                <dt class="col-12 col-md-4">
                                    @Html.DisplayNameFor(model => model.Mac)
                                </dt>
                                <dd class="col-12 col-md-8">
                                    @Html.DisplayFor(model => model.Mac)
                                </dd>
                            </dl>

                            <dl class="row">
                                <dt class="col-12 col-md-4">
                                    @Html.DisplayFor(m => m.Ip)
                                </dt>
                                <dd class="col-12 col-md-8">
                                    @Html.DisplayFor(model => model.Ip)
                                </dd>
                            </dl>

                            <dl class="row">
                                <dt class="col-12 col-md-4">
                                    @Html.DisplayFor(model => model.NroSerie)
                                </dt>
                                <dd class="col-12 col-md-8">
                                    @Html.DisplayFor(model => model.NroSerie)
                                </dd>
                            </dl>

                            <dl class="row">
                                <dt class="col-12 col-md-4">
                                    @Html.DisplayFor(model => model.NroParte)
                                </dt>
                                <dd class="col-12 col-md-8">
                                    @Html.DisplayFor(model => model.NroParte)
                                </dd>
                            </dl>

                            <dl class="row">
                                <dt class="col-12 col-md-4">
                                    @Html.DisplayFor(model => model.Marca)
                                </dt>
                                <dd class="col-12 col-md-8">
                                    @Html.DisplayFor(model => model.Marca)
                                </dd>
                            </dl>

                            <dl class="row">
                                <dt class="col-12 col-md-4">
                                    @Html.DisplayFor(model => model.Modelo)
                                </dt>
                                <dd class="col-12 col-md-8">
                                    @Html.DisplayFor(model => model.Modelo)
                                </dd>
                            </dl>

                            <dl class="row">
                                <dt class="col-12 col-md-4">
                                    @Html.DisplayFor(model => model.FkIdSucursal)
                                </dt>
                                <dd class="col-12 col-md-8">
                                    @Html.DisplayFor(model => model.FkIdSucursal)
                                </dd>
                            </dl>

                            <form asp-action="EliminarLector">
                                <input type="hidden" asp-for="IdLector" />
                                <input type="submit" value="Eliminar" class="btn btn-danger" />
                                <a class="btn btn-primary" asp-action="IndexLector">Volver a la Lista</a>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <h1 class="card-title text-danger">Error</h1>
                        <h3>Este "lector" no se puede eliminar ya que esta asociado a algún elemento.</h3>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" asp-action="IndexLector">Volver</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>