@model List<Lector>

@{ViewBag.Title = "Lista Lectores";}

@await Html.PartialAsync("_NavbarAdministracion")

@{
    Func<dynamic, object> lectorTemplate =
    @<tr>
        <td class="align-middle">@item.Nombre</td>
        <td class="align-middle">@item.Mac</td>
        <td class="align-middle">@item.Ip</td>
        <td class="align-middle">@item.NroSerie</td>
        <td class="align-middle">@item.NroParte</td>
        <td class="align-middle">@item.Marca</td>
        <td class="align-middle">@item.Modelo</td>
        <td class="align-middle">@item.FkIdSucursalNavigation.Nombre</td>
        <td class="align-middle text-end">
            <a class="btn btn-primary btn-sm" href="EditarLector/@item.IdLector">Editar</a>
            <a class="btn btn-danger btn-sm" href="EliminarLector/@item.IdLector">Eliminar</a>
        </td>
    </tr>;
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Lectores</h1>
        </div>
        <div class="col text-end">
            <a asp-action="CrearLector" class="btn btn-primary">Crear</a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <form action="IndexLector" method="get">
                <tr>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" style="max-width: 150px" placeholder="Nombre" name="nombre" value=@ViewBag?.Nombre /> </th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" style="max-width: 150px" placeholder="MAC" name="mac" value=@ViewBag.Mac /></th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" style="max-width: 150px" placeholder="IP" name="ip" value=@ViewBag.Ip /></th>
                    <th></th>
                    <th></th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" style="max-width: 150px" placeholder="Marca" name="marca" value=@ViewBag.Marca /></th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" style="max-width: 150px" placeholder="Modelo" name="modelo" value=@ViewBag.Modelo /></th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" style="max-width: 150px" placeholder="Sucursal" name="sucursal" value=@ViewBag.Sucursal /></th>
                    <th class="text-end">
                        <input type="submit" value="filtrar" class="btn btn-success" />
                        <a type="button" class="btn btn-danger" asp-action="IndexLector">X</a>
                    </th>
                </tr>
            </form>
            <tr>
                <th>Nombre</th>
                <th>Mac</th>
                <th>Ip</th>
                <th>NroSerie</th>
                <th>NroParte</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Sucursal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var lector in Model)
                {
                    @lectorTemplate(lector)
                }
            }
        </tbody>
    </table>
</div>