@model List<Lector>

@{ViewBag.Title = "Lista Lectores";}

@await Html.PartialAsync("_NavbarAdministracion")

@{
    Func<dynamic, object> lectorTemplate =
    @<tr>
        <td class="align-middle">@item.Mac</td>
        <td class="align-middle">@item.Ip</td>
        <td class="align-middle">@item.NroSerie</td>
        <td class="align-middle">@item.NroParte</td>
        <td class="align-middle">@item.Marca</td>
        <td class="align-middle">@item.Modelo</td>
        <td class="align-middle">@item.FkIdSucursalNavigation.Nombre</td>
        <td class="align-middle">
            <a class="btn btn-primary btn-sm" href="EditarLector/@item.IdLector">Editar</a>
            <a class="btn btn-danger btn-sm" href="EliminarLector/@item.IdLector">Eliminar</a>
        </td>
    </tr>;
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Lectores</h1>
        </div>
        <div class="col text-end">
            <a asp-action="CrearLector" class="btn btn-primary">Crear</a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Mac</th>
                <th>Ip</th>
                <th>NroSerie</th>
                <th>NroParte</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Sucursal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var lector in Model)
                {
                    @lectorTemplate(lector)
                }
            }
        </tbody>
    </table>
</div>