@model List<Sucursal>

@{ViewBag.Title = "Lista Sucursales";}

@await Html.PartialAsync("_NavbarAdministracion")

@{
    Func<dynamic, object> sucursalTemplate =
    @<tr>
        <td class="align-middle">@item.Nombre</td>
        <td class="align-middle">@item.Direccion</td>
        <td class="align-middle">@item.Region</td>
        <td class="align-middle">@item.Comuna</td>
        <td class="align-middle">@item.Epc</td>
        <td class="align-middle">@item.CoordenadaX</td>
        <td class="align-middle">@item.CoordenadaY</td>
        <td class="align-middle text-end">
            <a class="btn btn-primary" href="EditarSucursal/@item.IdSucursal">Editar</a>
            <a class="btn btn-danger" href="EliminarSucursal/@item.IdSucursal">Eliminar</a>
        </td>
    </tr>;
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Sucursales</h1>
        </div>
        <div class="col text-end">
            <a asp-action="CrearSucursal" class="btn btn-primary">Crear</a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <form action="IndexSucursal" method="get">
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="Nombre" name="nombre" value=@ViewBag.Nombre /></th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="Dirección" name="direccion" value=@ViewBag.Direccion /></th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="Region" name="region" value=@ViewBag.Region /></th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="Comuna" name="comuna" value=@ViewBag.Comuna /></th>
                    <th><input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="EPC" name="epc" value=@ViewBag.Epc /></th>
                    <th></th>
                    <th></th>
                    <th class="text-end">
                        <input type="submit" value="Filtrar" class="btn btn-success" />
                        <a type="button" class="btn btn-danger" asp-action="IndexSucursal">X</a>
                    </th>
                </form>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Region</th>
                <th>Comuna</th>
                <th>Epc</th>
                <th>CoordenadaX</th>
                <th>CoordenadaY</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sucursal in Model)
            {
                @sucursalTemplate(sucursal)
            }
        </tbody>
    </table>
</div>