@using WebAppCoreControlInterno.Models.ViewModels
@model ElementoViewModel

@{ViewBag.Title = "Crear Elemento";}

@await Html.PartialAsync("_NavbarAdministracion")

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Eliminar</h1>
                    <h3>Seguro desea deshabilitar esta Elemento?</h3>
                    <div>
                        <hr />
                        <dl class="row">
                            <dt class="col-12 col-md-4">
                                @Html.DisplayNameFor(model => model.Epc)
                            </dt>
                            <dd class="col-12 col-md-8">
                                @Html.DisplayFor(model => model.Epc)
                            </dd>
                        </dl>

                        <dl class="row">
                            <dt class="col-12 col-md-4">
                                @Html.DisplayFor(m => m.NroSerie)
                            </dt>
                            <dd class="col-12 col-md-8">
                                @Html.DisplayFor(model => model.NroSerie)
                            </dd>
                        </dl>

                        <dl class="row">
                            <dt class="col-12 col-md-4">
                                @Html.DisplayFor(model => model.NroParte)
                            </dt>
                            <dd class="col-12 col-md-8">
                                @Html.DisplayFor(model => model.NroParte)
                            </dd>
                        </dl>

                        <dl class="row">
                            <dt class="col-12 col-md-4">
                                @Html.DisplayNameFor(model => model.Fotografia)
                            </dt>
                            <dd class="col-12 col-md-8">
                                @Html.DisplayFor(model => model.Fotografia)
                            </dd>
                        </dl>

                        <form asp-action="EliminarElemento">
                            <input type="hidden" asp-for="IdElemento" />
                            <input type="submit" value="Deshabilitar" class="btn btn-danger" />
                            <a class="btn btn-primary" asp-action="IndexElemento">Volver a la Lista</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>