@model List<Elemento>

@{ViewBag.Title = "Lista Elementos";}

@await Html.PartialAsync("_NavbarAdministracion")

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Elementos</h1>
        </div>

        <div class="col text-end">
            <a asp-action="CrearElemento" class="btn btn-primary">
                Crear
            </a>
        </div>
    </div>
</div>

<div class="container">
    <form action="IndexElemento" method="get">
        <div class="row">
            <div class="col-1">
                <input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="Epc" name="epc" value=@ViewBag.Epc />
            </div>
            <div class="col-1">
                <input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="Base" name="pBase" value=@ViewBag.Base />
            </div>
            <div class="col-1"></div>
            <div class="col-1">
                <input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="N° Serie" name="nSerie" value=@ViewBag.Serie />
            </div>
            <div class="col-1">
                <input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="N° Parte" name="nParte" value=@ViewBag.Parte />
            </div>
            <div class="col-2"></div>
            <div class="col-1">
                <input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="Estado" name="estado" value=@ViewBag.Estado />
            </div>
            <div class="col-1">
                <input type="text" class="form-control shadow-sm" autocomplete="off" placeholder="Sucursal" name="sucursal" value=@ViewBag.Sucursal />
            </div>
            <div class="col-2"></div>
            <div class="col-1">
                <input type="submit" value="filtrar" class="btn btn-success" />
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            @*<tr>
                <form action="IndexElemento" method="get">
                    <th class="col-1"><input type="text" class="col-1 form-control shadow-sm w-auto" autocomplete="off" placeholder="Epc" name="epc" value=@ViewBag.Epc /></th>
                    <th><input type="text" class="col-1 form-control shadow-sm w-auto" autocomplete="off" placeholder="Base" name="pBase" value=@ViewBag.Base /></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-end">
                        <input type="submit" value="filtrar" class="btn btn-success text-end" />
                    </th>
                </form>
            </tr>*@
            <tr>
                <th>Epc</th>
                <th>Elemento Base</th>
                <th>FechaIngreso</th>
                <th>NroSerie</th>
                <th>NroParte</th>
                <th>Estado</th>
                <th>Sucursal</th>
                <th>Sector</th>
                <th>SubSector</th>
                <th>Encargado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elemento in Model)
            {
                <tr>
                    <td class="align-middle">@Html.DisplayFor(m => elemento.Epc)</td>
                    <td class="align-middle">@Html.DisplayFor(m => elemento.FkIdElementoBaseNavigation.Nombre)</td>
                    <td class="align-middle">@elemento.FechaIngreso.ToShortDateString()</td>
                    <td class="align-middle">@Html.DisplayFor(m => elemento.NroSerie)</td>
                    <td class="align-middle">@Html.DisplayFor(m => elemento.NroParte)</td>
                    <td class="align-middle">@Html.DisplayFor(m => elemento.FkIdEstadoNavigation.Estado1)</td>
                    <td class="align-middle">@Html.DisplayFor(m => elemento.FkIdSucursalNavigation.Nombre)</td>
                    @*@System.Diagnostics.Debug.WriteLine(elemento.FkIdSector.ToString());*@
                <td class="align-middle">
                    @if (elemento.FkIdSector != null)
                    {
                        @Html.DisplayFor(m => elemento.FkIdSectorNavigation.Nombre);
                    }
                    else { @null; }
                                </td>
                    <td class="align-middle">@Html.DisplayFor(m => elemento.FkIdSubSectorNavigation.Nombre)</td>
                    <td class="align-middle">@Html.DisplayFor(m => elemento.FkIdEmpleadoEncargadoNavigation.Nombre1) @Html.DisplayFor(m => elemento.FkIdEmpleadoEncargadoNavigation.Apellido1)</td>
                    <td class="align-middle">
                        <a class="btn btn-primary btn-sm align-middle" href="EditarElemento/@elemento.IdElemento">Editar</a>
                        @*Distintas Formas de lograr lo mismo*@
                        @*Este Funca  --  <a class="btn btn-primary" asp-controller="Cargo" asp-action="Editar" asp-route-id="1">Editar</a>*@
                        @*Este Funca  --  @Html.ActionLink("Editar", "Editar", new { id = cargo.IdCargo })*@
                        <a class="btn btn-danger btn-sm align-middle" href="EliminarElemento/@elemento.IdElemento">Deshabilitar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>