@model List<Elemento>

@{ViewBag.Title = "Lista Elementos";}

@await Html.PartialAsync("_NavbarAdministracion")

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Elementos</h1>
        </div>

        <div class="col text-end">
            <a asp-action="CrearElemento" class="btn btn-primary">
                Crear
            </a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Epc</th>
                <th>FechaIngreso</th>
                <th>FechaUltimaLectura</th>
                <th>Dimension</th>
                <th>PesoKg</th>
                <th>NroSerie</th>
                <th>NroParte</th>
                <th>InformaciónExtra</th>
                <th>Fotografia</th>
                <th>Elemento Base</th>
                <th>Estado</th>
                <th>Sucursal</th>
                <th>Sector</th>
                <th>SubSector</th>
                <th>Encargado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elemento in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => elemento.Epc)</td>
                    <td>@Html.DisplayFor(m => elemento.FechaIngreso)</td>
                    <td>@Html.DisplayFor(m => elemento.FechaUltimaLectura)</td>
                    <td>@Html.DisplayFor(m => elemento.Dimension)</td>
                    <td>@Html.DisplayFor(m => elemento.PesoKg)</td>
                    <td>@Html.DisplayFor(m => elemento.NroSerie)</td>
                    <td>@Html.DisplayFor(m => elemento.NroParte)</td>
                    <td>@Html.DisplayFor(m => elemento.InformacionExtra)</td>
                    <td>@Html.DisplayFor(m => elemento.Fotografia)</td>
                    <td>@Html.DisplayFor(m => elemento.FkIdElementoBase)</td>
                    <td>@Html.DisplayFor(m => elemento.FkIdEstado)</td>
                    <td>@Html.DisplayFor(m => elemento.FkIdSucursal)</td>
                    <td>@Html.DisplayFor(m => elemento.FkIdSector)</td>
                    <td>@Html.DisplayFor(m => elemento.FkIdSubSector)</td>
                    <td>@Html.DisplayFor(m => elemento.FkIdEmpleadoEncargado)</td>
                    <td>
                        <a class="btn btn-primary" href="EditarElemento/@elemento.IdElemento">Editar</a>
                        @*Distintas Formas de lograr lo mismo*@
                        @*Este Funca  --  <a class="btn btn-primary" asp-controller="Cargo" asp-action="Editar" asp-route-id="1">Editar</a>*@
                        @*Este Funca  --  @Html.ActionLink("Editar", "Editar", new { id = cargo.IdCargo })*@
                        <a class="btn btn-danger" href="EliminarElemento/@elemento.IdElemento">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>