@model X.PagedList.IPagedList<WebAppCoreControlInterno.Models.Cargo>
@using X.PagedList.Mvc;

@{ViewBag.Title = "Lista Cargos";}

@await Html.PartialAsync("_NavbarAdministracion")

@{
    Func<dynamic, object> cargoTemplate =
    @<tr>
        <td class="align-middle">@item.Cargo1</td>
        <td class="text-end">
            <a class="btn btn-primary btn-sm align-middle" href="Editar/@item.IdCargo">Editar</a>
            <a class="btn btn-danger btn-sm align-middle" href="Eliminar/@item.IdCargo">Eliminar</a>
        </td>
    </tr>;
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Cargos</h1>
        </div>
        <div class="col text-end">
            <a asp-action="Create" class="btn btn-primary">
                Crear
            </a>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <form action="IndexCargo" method="get">
                    <th>
                        <input type="text" class="form-control shadow-sm w-auto" autocomplete="off" placeholder="Cargo" name="cargo" value=@ViewBag.Cargo />
                    </th>
                    <th class="text-end">
                        <input type="submit" value="filtrar" class="btn btn-success text-end" />
                        <a type="button" class="btn btn-danger" asp-action="IndexCargo">X</a>
                    </th>
                </form>
            </tr>
            <tr>
                <th>@Html.ActionLink("Cargo", "IndexCargo", new{ sortOrder = ViewBag.SortParm } )</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cargo in Model)
            {
                @cargoTemplate(cargo)
            }
        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @*@Html.PagedListPager(Model, PagedList => Url.Action("Index", new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))*@
</div>





@*<!-- COMENTARIOS PARA MI-->

        <!--<tr>-->
        <td>@Html.DisplayFor(m => cargo.Cargo1)</td>
    <!--<td>
        <a class="btn btn-primary" href="Cargo/Editar/@cargo.IdCargo">Editar</a>-->
    @*Distintas Formas de lograr lo mismo
    @*Este Funca  --  <a class="btn btn-primary" asp-controller="Cargo" asp-action="Editar" asp-route-id="1">Editar</a>
    @*Este Funca  --  @Html.ActionLink("Editar", "Editar", new { id = cargo.IdCargo })
    <!--<a class="btn btn-danger" href="Cargo/Eliminar/@cargo.IdCargo">Eliminar</a>
        </td>
    </tr>-->
*@