
@{ViewBag.Title = "Reportes";}

@{int totalSucursal = 0; int totalCategoria = 0;}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-2 h-100">
            <div class="card shadow-sm">
                <h5 class="card-header">Filtros <a type="button" class="btn btn-danger ms-auto" asp-action="IndexReporte">X</a> </h5>
                <div class="card-body">
                    <form action="IndexReporte" method="get">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control small" id="floatingElementoBase" name="pBase" placeholder="Elemento Base" value=@ViewBag.Base />
                            <label for="floatingElementoBase">Elemento Base</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control small" id="floatingNSerie" name="serie" placeholder="N° Serie" value=@ViewBag.Serie />
                            <label for="floatingElementoBase">N° Serie</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control small" id="floatingNroParte" name="parte" placeholder="N° Parte" value=@ViewBag.Parte />
                            <label for="floatingElementoBase">N° Parte</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control small" id="floatingSucursal" name="sucursal" placeholder="Sucursal" value=@ViewBag.Sucursal />
                            <label for="floatingElementoBase">Sucursal</label>
                        </div>
                        <div class="d-grid">
                            <input type="submit" value="filtrar" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="card shadow h-100">
                <h4 class="card-header">Reportes</h4>
                <div class="card-body">
                    <table class="table table-info table-responsive table-sm table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Elemento Base</th>
                                <th>N° Serie</th>
                                <th>N° Parte</th>
                                <th>Sucursal</th>
                                <th>Ultima Lectura</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach ( Elemento elemento in ViewBag.Elementos)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => elemento.FkIdElementoBaseNavigation.Nombre)</td>
                                    <td>@Html.DisplayFor(m => elemento.NroSerie)</td>
                                    <td>@Html.DisplayFor(m => elemento.NroParte)</td>
                                    <td>@Html.DisplayFor(m => elemento.FkIdSucursalNavigation.Nombre)</td>
                                    <td>@elemento.FechaUltimaLectura.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow-sm h-100">
                <h5 class="card-header">
                    Información
                </h5>
                <div class="card-body">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Sucursales
                                </button>
                                <div class="accordion-collapse collapse" id="collapseOne">
                                    <div class="accordion-body">
                                        <dl class="row">
                                            <dt class="col-6 h5 text-center">Sucursal</dt>
                                            <dt class="col-6 h5 text-center">Cantidad</dt>
                                        </dl>
                                        <hr />
                                        @foreach (Sucursal sucursal in ViewBag.Sucursals)
                                        {
                                            int cantidad = 0;
                                            <dl class="row">
                                                <dt class="col-6 h6">@Html.DisplayFor(m => sucursal.Nombre)</dt>
                                                <dd class="col-6 h6 text-center">@foreach(Elemento elemento in ViewBag.Elementos)
                                                    {
                                                        if (elemento.FkIdSucursal == sucursal.IdSucursal)
                                                        {
                                                            cantidad++;
                                                        }
                                                    }
                                                    @{totalSucursal = totalSucursal + cantidad;}
                                                    @Html.DisplayFor(m => cantidad)
                                                </dd>
                                            </dl>
                                        }
                                        <dl class="row">
                                            <dt class="col-6 h5">TOTAL</dt>
                                            <dd class="col-6 h5 text-center">@Html.DisplayFor(m => totalSucursal)</dd>
                                        </dl>
                                    </div>
                                </div>
                            </h3>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Categorías</button>
                            </h6>
                            <div class="accordion-collapse collapse" id="collapseTwo">
                                <div class="accordion-body">
                                    <dl class="row">
                                        <dt class="col-6 h5">Categoría</dt>
                                        <dd class="col-6 h5">Cantidad</dd>
                                        <hr />
                                        @foreach (Categoria categoria in ViewBag.Categorias)
                                        {
                                            int cantidad = 0;
                                            <dl class="row">
                                                <dt class="col-6 h6">@Html.DisplayFor(m => categoria.Nombre)</dt>
                                                <dd class="col-6 h6 text-center">@foreach(Elemento elemento in ViewBag.Elementos)
                                                    {
                                                        if (elemento.FkIdElementoBaseNavigation.FkIdCategoria == categoria.IdCategoria)
                                                        {
                                                            cantidad++;
                                                        }
                                                    }
                                                    @{totalCategoria = totalCategoria + cantidad;}
                                                    @Html.DisplayFor(m => cantidad)
                                                </dd>
                                            </dl>
                                        }
                                        <dl class="row">
                                            <dt class="col-6 h5">TOTAL</dt>
                                            <dd class="col-6 h5 text-center">@Html.DisplayFor(m => totalCategoria)</dd>
                                        </dl>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>